/*
 Theme Name:   АнкорСтрой
 Description:  АнкорСтрой
 Author:       WebSlide
 Template:     ankorservice
 Version:      0.0.1
 Tags:         light, dark, corolful
 Text Domain:  ankorservice-theme
*/

*{
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
}

body {
	background:url(images/fon.jpg) top;
	font-size: 14px;
	color: #757575;
	font-family: magistral_c_bold;
}

a {
	color: #757575;
}
a:hover {
	text-decoration: none;
}

div.over {
	width: 100%;
	min-width: 1010px;
	overflow: hidden;
	float: left;
}


div.center{
	min-width: 990px;
	max-width: 990px;
	padding: 0px 10px;
	height: 100%;
	position: relative;
	margin: 0 auto;
}

div.header {
	background:url(images/header.jpg) no-repeat top;
	width: 100%;
	height: 600px;
	margin: 0px 0px 60px 0px;
	float: left;
}


div.header_shadow {
	width: 100%;
	margin: 20px 0px 0px 0px;
	position: relative;
	z-index: 2;
	border-radius:        3px;
	-moz-border-radius:   3px;
	-khtml-border-radius: 3px;
	float: left;
}
.header_shadow:after {
	content:"";
	position: absolute;
	top: 10px;
	left: 20px;
	bottom: 0;
	right: 20px;
	z-index: -1;
	-moz-box-shadow:    0 15px 25px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
	box-shadow:	        0 15px 25px rgba(0,0,0,0.5);
}
div.header_box {
	background:#fff;
	width: 100%;
	position: relative;
	z-index: 2;
	border-radius:        3px;
	-moz-border-radius:   3px;
	-khtml-border-radius: 3px;
	float: left;
}



div.main_menu {
	float:left;
}
ul {
	list-style-type: none;
}
.main_menu li {
	padding: 4px 15px 0;
	margin: 18px 0px;
	height: 22px;
	border-left: 1px solid #dadada;
	float: left; 
}
.main_menu li:first-child {
	border: none;
}
.main_menu li a { 
    font-size: 15px;
	color: #757575;
	text-decoration: none;
}
.main_menu li a:hover,
.main_menu .act a { 
	color: #333333;
}


div.tel {
	height: 46px;
	line-height: 46px;
	border-left: 1px solid #dadada;
	margin: 7px 0px 0;
	padding: 0px 15px;
	font-size: 18px;
	float: right;
}

div.adres {
	margin: 14px 15px 0px 0px;
	text-align: right;
	float: right;
}




div.sub_menu {
	position: absolute;
	bottom: 20px;
	right: 10px;
	text-shadow: 0 2px 3px rgba(0,0,0,0.6);
}
.sub_menu span {
	width: 330px;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 15px 0px;
	border-bottom: 1px solid rgba(255,255,255,0.6);
	font-size: 30px;
	text-align: right;
	color: #fff;
	float:right;
}
.sub_menu li {
	padding: 0px 0px 10px 0px;
	float: right; 
	clear: right;
}
.sub_menu li a { 
    font-size: 20px;
	color: #fff;
	text-decoration: none;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.sub_menu li a:hover,
.sub_menu .act a { 
	text-shadow: 0 0px 10px #fff;
}


.call {
    background: rgb(255, 224, 25);
    padding: 13px 17px;
    font-size: 17px;
    font-family: arial;
    color: #333;
    position: absolute;
    top: 100px;
    right: 12px;
    cursor: pointer;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
}



div.client {
	width: 100%;
	margin: 0px 0px 30px 0px;
	float: left;
}


div.title {
	width: 100%;
	margin: 0px 0px 30px 0px;
	font-size: 30px;
	color: #555555;
	text-transform: uppercase;
	float: left;
}
.title h1,
.title span {
	font-size: 30px;
}


div.client_cont {
	width: 100%;
	float: left;
}

div.client_bl {
	width: 240px;
	height: 148px;
	margin: 0px 10px 30px 0px;
	position: relative;
	top: 0;
	float: left;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.client_bl:after,
.galery_bl:after,
.text:after {
	content:"";
	position: absolute;
	top: 10px;
	left: 20px;
	bottom: 0;
	right: 20px;
	z-index: -1;
	-moz-box-shadow:    0 10px 30px rgba(0,0,0,0.45);
	-webkit-box-shadow: 0 10px 30px rgba(0,0,0,0.45);
	box-shadow:	        0 10px 30px rgba(0,0,0,0.45);
	border-radius:        3px;
	-moz-border-radius:   3px;
	-khtml-border-radius: 3px;
}
.client_bl:nth-child(4n) {
	margin-right: 0;
}
.client_bl:hover,
.galery_bl:hover {
	top: -5px;
	z-index: 2;
}

.client_bl a,
.galery_bl a {
	height: 100%;
	display: block;
	border-radius:        3px;
	-moz-border-radius:   3px;
	-khtml-border-radius: 3px;
	overflow: hidden;
}






div.news {
	width: 100%;
	padding: 0px 0px 200px 0px;
	margin: 0px 0px -90px 0px;
	position: relative;
	float: left;
}
.news:before {
	content:"";
	background:url(images/news.gif) top;
	position: absolute;
	top: 120px;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}


div.news_cont {
	width: 100%;
	float: left;
}


div.news_bl {
	background:#fff;
	width: 240px;
	margin: 0px 10px 20px 0px;
	font-family: Trebuchet MS;
	position: relative;
	top: 0;
	float: left;
	border-radius:        3px;
	-moz-border-radius:   3px;
	-khtml-border-radius: 3px;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.news_bl:nth-child(4n) {
	margin-right: 0;
}
.news_bl:after {
	content:"";
	position: absolute;
	top: 10px;
	left: 20px;
	bottom: 0;
	right: 20px;
	z-index: -1;
	-moz-box-shadow:    0 10px 30px rgba(0,0,0,0.45);
	-webkit-box-shadow: 0 10px 30px rgba(0,0,0,0.45);
	box-shadow:	        0 10px 30px rgba(0,0,0,0.45);
}
.news_bl:hover {
	top: -5px;
}

div.news_img {
	width: 240px;
	height: 115px;
	margin: 0px 0px 17px 0px;
	border-radius:        3px 3px 0 0;
	-moz-border-radius:   3px 3px 0 0;
	-khtml-border-radius: 3px 3px 0 0;
	overflow: hidden;
	float: left;
}
.news_img img {
	width: 100%;
}


div.news_title {
	margin: 0px 10px 10px;
	font-size: 18px;
	color: #646464;
	float: left;
}
.news_title a:before {
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
}

div.news_text {
	height: 80px;
	overflow: hidden;
	margin: 0px 10px 10px;
	float: left;
	clear: left;
}


div.news_date {
	background: #f2f2f2;
	padding: 10px 10px;
	font-size: 13px;
	color: #5a5a5a;
	text-align: right;
	clear: left;
	border-radius:        0 0 3px 3px;
	-moz-border-radius:   0 0 3px 3px;
	-khtml-border-radius: 0 0 3px 3px;
}









div.footer {
	background:url(images/footer.png) no-repeat top;
	width: 100%;
	height: 90px;
	position: relative;
	float: left;
}
.footer:before {
	content:"";
	background:url(images/footer_img.png);
	width: 485px;
	height: 227px;
	position: absolute;
	bottom: -50px;
	right: 50%;
	z-index: 2;
	margin: 0px -965px 0px 0px;
}



div.counter {
	margin: 30px 30px 0px 0px;
	float: left;
}


.footer ul {
	width: 440px;
	margin: 28px 0px 0px 0px;
	float: left;
}
.footer li {
	width: 50%;
	float: left;
}
.footer a {
	color: #fff;
	font-family: Trebuchet MS;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}



div.razrab {
	margin: 40px 0px 0px 0px;
	float: right;
}
.razrab a {
	font-size: 15px;
	color: #fff;
	font-family: 'magistral_c_bold';
	position: relative;
	-o-transition:      all 0.7s linear;
	-moz-transition:    all 0.7s linear;
	-webkit-transition: all 0.7s linear;
	transition:         all 0.7s linear;
}
.razrab a:hover {
	text-shadow: 0px 0px 30px #fff;
	text-decoration: none;
}
.razrab a:before {
	content:"";
	background:url(images/razrab.png);
	width: 137px;
	height: 14px;
	position: absolute;
	z-index: 2;
	-o-transition:      all 0.7s linear;
	-moz-transition:    all 0.7s linear;
	-webkit-transition: all 0.7s linear;
	transition:         all 0.7s linear;
}
.razrab:hover a:before {
	opacity: 0;
}





/****************************************** ГАЛЕРЕЯ ***********************************************/


div.galery,
div.galery_cont {
	width: 100%;
	float: left;
}


div.galery_bl {
	width: 300px;
	height: 225px;
	margin: 0px 45px 50px 0px;
	position: relative;
	top: 0;
	float: left;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}


.galery_bl:nth-child(3n) {
	margin-right: 0;
}


.galery_bl img {
	width: 100%;
	min-height: 255px !important;
}




div.pagination {
    width: 100%;
    margin: 0px 0px 50px 0px;
    text-align: center;
    float: left;
}
div.pagination li {
    margin: 0px 0px 5px 0px;
    display: inline-block;
}
.pagination a,.pagination span {
    display: inline-block;
    padding: 6px 10px 6px 10px;
    margin: 0px 5px 0px 5px;
    color: #b0b0b0;
	font-size: 20px;
    text-decoration: none;
	cursor:pointer;
    -o-transition:      all 0.2s linear;
    -moz-transition:    all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition:         all 0.2s linear;
}
.pagination a:hover, .pagination span {
    background:#757575;
    color: #fff !important;
}

a.jp-current {
	color: #757575 !important;
}










/****************************************** ТЕКСТ ***********************************************/




div.text {
	background: #fff url(images/text.jpg) no-repeat left bottom;
	width: 930px;
	height: 1000 px;
	margin: 0px 0px 70px 0px;
	padding: 30px 30px 100px;
	position: relative;
	font-family: Trebuchet MS;
	border-radius:        3px;
	-moz-border-radius:   3px;
	-khtml-border-radius: 3px;
	float: left;
}
.text:before {
	content:"";
	background: url(images/text2.png) ;
	width: 118px;
	height: 41px;
	position: absolute;
	bottom: -41px;
	left: 540px;
}

.text h1 {
	font-size: 30px;
	color: #555;
	margin: 0px 0px 20px 0px;
	font-family: 'magistral_c_bold';
}

.text p {
	line-height: 19px;
	margin: 0px 0px 15px 0px;
}

hr {
	width: 100%;
	border-bottom: 1px solid #ccc;
	margin: 0px 0px 15px 0px;
}


.text td {
	border: 1px solid #ccc;
	padding: 10px;
}
.text td img {
	width: 250px;
}


div.sert {
	width: 100%;
	text-align: center;
	float: left;
}
.sert img {
	width: 48%;
	height: auto !important;
	margin: 20px 1%;
	display: inline-block;
}







div.overlay {
    background:rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2010;
    display: none;
}
div.popup {
    background:#fff;
    width: 390px;
	padding: 0px 30px;
    margin: 0px 0px 0px -231px;
    position: fixed;
    top: -700px;
    left: 50%;
    -moz-box-shadow:    0 5px 20px rgba(0,0,0,1);
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,1);
    box-shadow:	        0 5px 20px rgba(0,0,0,1);
    z-index: 2011;
    text-align: center;
}



.popup {
    position: relative;
    top: 0px;
    left: 0;
    z-index: 2;
    margin: 0px 0px 0px 45px;
    float: left;
}
div.close {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    cursor:pointer;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.close:before,
.close:after {
	content:"";
    background:#333;
    width: 1px;
    height: 21px;
    position: absolute;
	top: 0;
	left: 50%;
	-moz-transform:    rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform:      rotate(45deg);
	-ms-transform:     rotate(45deg);
	transform:         rotate(45deg));
}
.close:after {
	-moz-transform:    rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform:      rotate(-45deg);
	-ms-transform:     rotate(-45deg);
	transform:         rotate(-45deg));
}
input, textarea {outline:none;} 
input:active, textarea:active {outline:none;}
:focus {outline:none;} 
.popup p {
    font-size: 20px;
    color: #757575;
    margin: 20px 0px 10px 0px;
}
.popup input[type="text"],
.popup textarea {
    background: #fff;
    width: 94%;
    border: 1px solid #ccc;
    margin: 10px 0px 5px 0px;
    padding: 15px 3%;
	color: #757575;
    float: left;
    clear: left;
}
.popup textarea {
    height: 90px;
}
.popup input[type="submit"] {
    background: #80a1cd;
    width: 250px;
    margin: 20px 0px 30px -125px;
    position: relative;
    left: 50%;
    padding: 15px;
    color: #fff;
    font-size: 17px;
    cursor:pointer;
    float: left;
    clear: left;
}

::-webkit-input-placeholder { 
    font-size: 14px;
	font-family: tahoma;
}
:-moz-placeholder { 
   font-size: 14px;
	font-family: tahoma;
}
::-moz-placeholder {
   font-size: 14px;
	font-family: tahoma;
}
:-ms-input-placeholder {
   font-size: 14px;
	font-family: tahoma;
}







@font-face {
    font-family: 'magistral_c_bold';
    src: url('fonts/magistral_c_bold.eot');
    src: url('fonts/magistral_c_bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/magistral_c_bold.woff') format('woff'),
         url('fonts/magistral_c_bold.ttf') format('truetype'),
         url('fonts/magistral_c_bold.svg#magistral_c_bold') format('svg');
}
/*************************
*
* СТИЛЬ ДЛЯ ПАГИНАЦИИ
*
*
**/

ul.simple-pagination {
	list-style: none;
}

.simple-pagination {
	display: block;
	overflow: hidden;
	padding: 0 5px 5px 0;
	margin: 0;
}

.simple-pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.simple-pagination li {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
span.ellipse.clickable {
	cursor: pointer;
}

.ellipse input {
	width: 3em;
}

/*------------------------------------*\
	Compact Theme Styles
\*------------------------------------*/

.compact-theme a, .compact-theme span {
	float: left;
	color: #333;
	font-size:14px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #AAA;
	border-left: none;
	min-width: 14px;
	padding: 0 7px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}

.compact-theme a:hover {
	text-decoration: none;
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* IE10+ */
	background: linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* W3C */
}

.compact-theme li:first-child a, .compact-theme li:first-child span {
	border-left: 1px solid #AAA;
	border-radius: 3px 0 0 3px;
}

.compact-theme li:last-child a, .compact-theme li:last-child span {
	border-radius: 0 3px 3px 0;
}

.compact-theme .current {
	background: #bbbbbb; /* Old browsers */
	background: -moz-linear-gradient(top, #bbbbbb 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbbbbb), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* W3C */
	cursor: default;
}

.compact-theme .ellipse {
	background: #EAEAEA;
	padding: 0 10px;
	cursor: default;
}
/****** STYLE FOR POPUP GALLERY*/
/* Magnific Popup CSS */
.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background: #0b0b0b;
	opacity: 0.8; }

.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: none !important;
	-webkit-backface-visibility: hidden; }

.mfp-container {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 8px;
	box-sizing: border-box; }

.mfp-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle; }

.mfp-align-top .mfp-container:before {
	display: none; }

.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
	width: 100%;
	cursor: auto; }

.mfp-ajax-cur {
	cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out; }

.mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
	cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none; }

.mfp-loading.mfp-figure {
	display: none; }

.mfp-hide {
	display: none !important; }

.mfp-preloader {
	color: #CCC;
	position: absolute;
	top: 50%;
	width: auto;
	text-align: center;
	margin-top: -0.8em;
	left: 8px;
	right: 8px;
	z-index: 1044; }
.mfp-preloader a {
	color: #CCC; }
.mfp-preloader a:hover {
	color: #FFF; }

.mfp-s-ready .mfp-preloader {
	display: none; }

.mfp-s-error .mfp-content {
	display: none; }

button.mfp-close,
button.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	display: block;
	outline: none;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	touch-action: manipulation; }

button::-moz-focus-inner {
	padding: 0;
	border: 0; }

.mfp-close {
	width: 44px;
	height: 44px;
	line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: 0.65;
	padding: 0 0 18px 10px;
	color: #FFF;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace; }
.mfp-close:hover,
.mfp-close:focus {
	opacity: 1; }
.mfp-close:active {
	top: 1px; }

.mfp-close-btn-in .mfp-close {
	color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
	color: #FFF;
	right: -6px;
	text-align: right;
	padding-right: 6px;
	width: 100%; }

.mfp-counter {
	position: absolute;
	top: 0;
	right: 0;
	color: #CCC;
	font-size: 12px;
	line-height: 18px;
	white-space: nowrap; }

.mfp-arrow {
	position: absolute;
	opacity: 0.65;
	margin: 0;
	top: 50%;
	margin-top: -55px;
	padding: 0;
	width: 90px;
	height: 110px;
	-webkit-tap-highlight-color: transparent; }
.mfp-arrow:active {
	margin-top: -54px; }
.mfp-arrow:hover,
.mfp-arrow:focus {
	opacity: 1; }
.mfp-arrow:before,
.mfp-arrow:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 35px;
	margin-left: 35px;
	border: medium inset transparent; }
.mfp-arrow:after {
	border-top-width: 13px;
	border-bottom-width: 13px;
	top: 8px; }
.mfp-arrow:before {
	border-top-width: 21px;
	border-bottom-width: 21px;
	opacity: 0.7; }

.mfp-arrow-left {
	left: 0; }
.mfp-arrow-left:after {
	border-right: 17px solid #FFF;
	margin-left: 31px; }
.mfp-arrow-left:before {
	margin-left: 25px;
	border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
	right: 0; }
.mfp-arrow-right:after {
	border-left: 17px solid #FFF;
	margin-left: 39px; }
.mfp-arrow-right:before {
	border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
	padding-top: 40px;
	padding-bottom: 40px; }
.mfp-iframe-holder .mfp-content {
	line-height: 0;
	width: 100%;
	max-width: 900px; }
.mfp-iframe-holder .mfp-close {
	top: -40px; }

.mfp-iframe-scaler {
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-top: 56.25%; }
.mfp-iframe-scaler iframe {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #000; }

/* Main image in popup */
img.mfp-img {
	width: auto;
	max-width: 100%;
	height: auto;
	display: block;
	line-height: 0;
	box-sizing: border-box;
	padding: 40px 0 40px;
	margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
	line-height: 0; }
.mfp-figure:after {
	content: '';
	position: absolute;
	left: 0;
	top: 40px;
	bottom: 40px;
	display: block;
	right: 0;
	width: auto;
	height: auto;
	z-index: -1;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #444; }
.mfp-figure small {
	color: #BDBDBD;
	display: block;
	font-size: 12px;
	line-height: 14px; }
.mfp-figure figure {
	margin: 0; }

.mfp-bottom-bar {
	margin-top: -36px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	cursor: auto; }

.mfp-title {
	text-align: left;
	line-height: 18px;
	color: #F3F3F3;
	word-wrap: break-word;
	padding-right: 36px; }

.mfp-image-holder .mfp-content {
	max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
	cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
	/**
         * Remove all paddings around the image on small screen
         */
	.mfp-img-mobile .mfp-image-holder {
		padding-left: 0;
		padding-right: 0; }
	.mfp-img-mobile img.mfp-img {
		padding: 0; }
	.mfp-img-mobile .mfp-figure:after {
		top: 0;
		bottom: 0; }
	.mfp-img-mobile .mfp-figure small {
		display: inline;
		margin-left: 5px; }
	.mfp-img-mobile .mfp-bottom-bar {
		background: rgba(0, 0, 0, 0.6);
		bottom: 0;
		margin: 0;
		top: auto;
		padding: 3px 5px;
		position: fixed;
		box-sizing: border-box; }
	.mfp-img-mobile .mfp-bottom-bar:empty {
		padding: 0; }
	.mfp-img-mobile .mfp-counter {
		right: 5px;
		top: 3px; }
	.mfp-img-mobile .mfp-close {
		top: 0;
		right: 0;
		width: 35px;
		height: 35px;
		line-height: 35px;
		background: rgba(0, 0, 0, 0.6);
		position: fixed;
		text-align: center;
		padding: 0; } }

@media all and (max-width: 900px) {
	.mfp-arrow {
		-webkit-transform: scale(0.75);
		transform: scale(0.75); }
	.mfp-arrow-left {
		-webkit-transform-origin: 0;
		transform-origin: 0; }
	.mfp-arrow-right {
		-webkit-transform-origin: 100%;
		transform-origin: 100%; }
	.mfp-container {
		padding-left: 6px;
		padding-right: 6px; } }
